<div class="container">
  <!-- Hero -->
  <div id="hero" class="row m-5">
    <div class="col-12 text-center">
      <div>
        <img src="../../../assets/img/logo.png" alt="logo" />
      </div>
      <h1>Il tuo autosalone di fiducia</h1>
    </div>
  </div>
  <!-- Brands -->
  <div class="row row-cols-3 border-bottom m-5">
    <div class="col-12 text-center">
      <h2>I nostri marchi</h2>
    </div>
    <div class="col text-center">
      <img src="../../../assets/img/fiat.png" alt="logo Fiat" />
    </div>
    <div class="col text-center">
      <img src="../../../assets/img/ford.png" alt="logo Ford" />
    </div>
    <div class="col text-center">
      <img src="../../../assets/img/audi.png" alt="logo Audi" />
    </div>
  </div>
  <!-- Featured cars -->
  <div class="row row-cols-2 m-5">
    <div class="col-12 text-center">
      <h2>Auto in evidenza</h2>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
